aiomas==2.0.1
alabaster==0.7.7
Babel==2.7.0
coverage==4.5.4
decorator==4.3.0
docopt==0.6.2
docutils==0.12
flake8==3.7.8
imagesize==0.7.1
Jinja2==2.9
MarkupSafe==0.23
mccabe==0.6.1
mosaik-api==2.4.1
networkx==2.4
pep8==1.7.1
pkginfo==1.5.0.1
pluggy==0.13.0
py==1.8.0
pyflakes==2.1.1
Pygments==2.4.2
pytest==5.2.2
pytest-cov==2.8.1
pytz==2019.3
requests==2.22.0
requests-toolbelt==0.9.1
simpy==3.0.11
simpy.io==0.2.3
six==1.12.0
snowballstemmer==1.2.1
Sphinx==1.4.1
sphinx-rtd-theme==0.1.9
tox==3.14.0
twine==1.11
virtualenv==16.7.7
